/*#desktop-section {*/
/*    display: none;*/
/*}*/

/*@media (min-width: 640px) {*/
/*    #desktop-section {*/
/*        display: block;*/
/*    }*/
/*    #mobile-section {*/
/*        display: none;*/
/*    }*/
/*}*/

#desktop-section {
    display: none;
}

h1 {
    color: red;
}

/*Small (sm)*/
@media (min-width: 640px) {
    #desktop-section {
        display: block;
    }

    #mobile-section {
        display: none;
    }
}

/*Medium */

@media (min-width: 768px) {
    h1 {
        color: green;
    }
}

/*Large*/

@media (min-width: 1024px) {

}

/*Extra Large xl*/

@media (min-width: 1280px) {

}

/*Extra Large xxl*/

@media (min-width: 1536px) {

}